#vid{ z-index: 2;width:100vw;height: 100px;display: flex; justify-content: center;}
 .v{background-image: url("../images/play.png");width: 100px;height: 100px;} */
.section3{display: flex;
justify-content: center;
align-content: center;
align-items: center;}
.slider-thumbs{display:flex;color:yellow;position: absolute;z-index: 2;width:100vw;height:10vh;justify-content: center;align-content: center;align-self: center;}
        /* li{color:white;} */
        
        section {
            display: block;}
        .sliders{ background-image: url("../images/trees.jpg") ;
            background-repeat: no-repeat;
            background-size: 100vw 100vh;}
        .slider,.slider,.slider3{
            
            /*background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);*/
           
            display: flex;
                 justify-content: center;
                 text-align: center;
            /*opacity: 0.85;*/
           opacity: 1;
      transition: all 0.5s linear;
        }
        .row{display: flex;
                 justify-content: center;
                 align-items: center;
                 align-content: center;
                 
                 /* padding:5%; */
                }
        .sliders{width: 100vw;height: 100vh;}
        .slider,.slider3{
            position:absolute;
            top:0;
            opacity: 0;
      transition: all 1s linear;
        }
        .Story,.Story2{font-family: "Playfair Display";
        font-size: 24px;
        color: #413d4b;
        text-transform: uppercase;
        letter-spacing: 1.1px;
        /* margin-left:5px; */
        }
        .Story2{margin-left:10px;}
        .TextSec2{
            font-family: Roboto;
font-size: 18px;
transition: all 1s linear;
        }
        .linear{
            width: 100vw;
            height: 100vh;
             background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
                 opacity: 0.85;
                 display: flex;
                 justify-content: center;
                    }
        .Text_Logo{
            width: 510px;
            /* height: 31px; */
            color: #ffffff;
            font-family: "Playfair Display - Black";
            font-size: 32px;
            /* font-weight: 400; */
            width: 100vw;
            letter-spacing: 0.32px;
            /*padding-top:50vh;*/
            margin: 0;
            padding: 0;
            padding-top: 1vw;
            }   
            .line{width: 50px;height:2px;background-color: #3fc; margin-top: 1vw;}
            .box-header{display: flex;justify-content: center;text-align:center;align-content: center;flex-direction: column;}
            .Text_Content{
                width:50%;
                height:10%;
                padding-top: 1vw;
                color: #ffffff;
                font-family: Roboto;
                font-size: 14px;
                font-weight: 300;
                line-height: 24px;
                
                letter-spacing: 0.7px;
                justify-content: center;text-align:center;align-content: center;flex-direction: column;
            }
           #Learnbtn{
                display: flex;
                justify-content: center;
                text-align: center;
                align-content: center;
                flex-direction: column;
                width: 100px;
                margin-top:5vh;
                
            }
             #Learnbtn2{
                display: flex;
                justify-content: center;
                text-align: center;
                align-content: center;
                flex-direction: column;
                width: 100px;
                margin-top:5vh;
                
            }
           .nav{
               display: flex;
               justify-content: space-between;
           }
           /*li{
               border:10px solid #3fc;
               list-style: none;    
               border-radius:50%;
              }*/
           .active{
      opacity: 1;z-index: 2;
    }
    .navbar{
       
        opacity: 0.8;
        background-color: #311d5e;
    }
html{
  scroll-behavior: smooth;
}
.video{background-image: url("../images/City.jpg"); width: 100vw;height: 100vh;background-repeat: no-repeat; display: flex;background-size: 100vw 100vh;}
/*.d1{background-image: url("../images/play.jpg");background-color: black;color:black}*/
@media only screen  and (min-width:992px) and (max-width: 100vw){
.nv{display: flex;;justify-content: flex-end;}
}
/* @media only screen and (min-width: 765px){
    .nv{display: flex;;justify-content: flex-start;}
    .Text_Logo{
        width: 510px;
        height: 31px;
        color: #ffffff;
        font-family: "Playfair Display - Black";
        font-size: 38px;
        font-weight: 400;
        width: 100vw;
        letter-spacing: 0.32px;
        padding-top:50vh;
        margin: 0;
        padding: 0;
        padding-top: 1vw;
        }   

   
.navbar{width:100vw;}  